#friends-display-link {
	display: block;
	text-align: center;
	background-color: rgb(242, 242, 242);
	padding: 15px 0px;
	font-size: 20px;
	font-weight: 800;
	margin-bottom: 10px;
	margin-top: -15px;
}
#friends-display-link i:first-child {
	color: rgba(0, 0, 0, 0.3);
	margin-right: 5px;
}
#friends-display-link i:last-child {
	margin-left: 10px;
	color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
	padding: 0px var(--horizontal-space);
}

.friend-screen__channel {
	border-top: solid 1px rgba(0, 0, 0, 0.3);
	margin-top: 25px;
	padding-top: 10px;
}
.friend-screen__channel-header {
	justify-content: space-between;
	display: flex;
	color: rgba(0, 0, 0, 0.5);
	margin-bottom: 25px;
}

@keyframes hideSplashScreen {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		visibility: hidden;
	}
}

#splash {
	display: flex;
	background-color: var(--yellow);
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	justify-content: center;
	align-items: center;
	font-size: 80px;
	color: rgb(106, 32, 32);
	animation: hideSplashScreen 0.5s ease-in-out forwards;
	animation-delay: 2s;
}
