.nav {
	background-color: rgb(242, 242, 242);
	padding: 15px 40px;
	border-top: solid 1px rgba(0, 0, 0, 0.3);
	position: fixed;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
}
.nav__list {
	display: flex;
	justify-content: space-between;
}
.nav__link {
	color: #2e363e;
	position: relative;
}
.nav__notification {
	position: absolute;
	bottom: 15px;
	left: 15px;
	background-color: tomato;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	color: white;
}
.nav__reddot {
	background-color: tomato;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5px;
	height: 5px;
	border-radius: 2.5px;
	position: absolute;
	bottom: 30px;
	left: 30px;
}

@keyframes movingReddot {
	0% {
		transform: none;
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: none;
	}
}

.nav__notification {
	animation: movingReddot 1s ease-in-out infinite;
}

@keyframes naviComeOut {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: none;
	}
}

.nav__btn {
	transform: translateY(50px);
	opacity: 0;
	animation: naviComeOut 1s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
	animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
	animation-delay: 0.5s;
}
.nav__btn:last-child {
	animation-delay: 0.8s;
}

.nav__btn i {
	font-size: 25px;
}

