.screen-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--horizontal-space);
	margin-bottom: 15px;
	position: relative;
}
.screen-header__title {
	font-size: 25px;
	font-weight: 600;
}
.screen-header__icons span {
	margin-left: 25px;
}
.screen-header__reddot {
	background-color: tomato;
	display: flex;
	width: 5px;
	height: 5px;
	border-radius: 2.5px;
	position: absolute;
	right: 20px;
	top: 25px;
}

@keyframes CogTurnning {
	from {
		transform: none;
	}
	to {
		transform: rotateZ(360deg);
	}
}

.screen-header__icons .fa-cog:hover {
	will-change: transform;
	animation: CogTurnning 1s linear infinite;
}
